!!! 5
%html
  %head
    %title= page_title
    %meta{name: :description, content: page_description}
    %meta{charset: 'utf-8'}
    %meta{name: :viewport, content: 'width=device-width, initial-scale=1.0'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'HandheldFriendly', content: 'True'}
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = favicon_tag 'images/favicon.ico'
    = stylesheet_link_tag :application
    %link{rel: :stylesheet, type: 'text/css', href: '//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400'}
  %body{class: page_class}

    = yield

    %footer.site-footer.clearfix
      %section.copyright
        %a{href: home_path}= blog_settings.name
        &copy;
        = Time.now.year
      %section.poweredby
        -#
          Proudly published with
          %a{href: 'http://middlemanapp.com'} Middleman
        Casper theme powered by
        %a{href: 'https://ghost.org'} Ghost

    = javascript_include_tag :application
